*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    font-family: Nanum Myeongjo;
}
/* Pou jere ba navigasyon an*/
header{
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
/*pati sa bay logo an koule */
header .logo{
    color: black;
    font-family: indie flower;
}

header .logo span{
    color: #daa755;
}
/*fe meni an paret sou menm liy a jere koule, gwose*/
.menu-nav{
    display:flex;
}
.menu-nav a{
    font-size: 16px;
    color: black;
    padding: 10px 20px;
}

.menu-nav a:hover{
    color: #daa755;
    transform: scale(1,1);
}

.nav-icon{
    display: flex;
}

.nav-icon i{
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: all .42s ease;
}

.nav-icon i:hover{
    color: #daa755;
    transform: scale(1,1);
    font-size: 30px;
}

/*Pati sa lye ak pati js ki nan kod
se pou le nou scroll sou paj pou kontni yo pa melanje
ak ba navigasyon an*/
header.sticky{
    background-color: white;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0 /10%);
}
/*espas ki genyen nan mitan chak section*/
section{
    padding: 5% 10%;
}
/*
sa jere paj acceuil lan
m mete on div ki gen pou class bg
se pou jere opacity paske lem mete direk se tout kontni yo ki pran 
ni text ni bouton ni backgroung tout jere nan block sa*/
.acceuil{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.87;
    z-index: 1;
}
.acceuil .tex{
    margin: 15px 20px 20px 0px;
    position: relative;
    z-index: 2;
}
.acceuil h5{
    color: #daa755;
    font-size: 20px;
}

.acceuil p{
    color:#ffffff;
    font-size: 20px;
    font-style: italic;
    padding:30px 0px 50px;
}

.acceuil h2{
    color:#daa755;
    font-size: 55px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    padding:30px 0px 0px;
}

.acceuil h1{
    color:#000000;
    font-size: 60px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0px 0px;
}

.btn{
    color:black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 3px solid black;
    padding: 12px 25px;
}
.btn:hover{
    background-color: black;
    color: #daa755;
    transition:all .42s ease;
    box-shadow: 1px 1px 15px black;
}

.en-bas{
    position: absolute ;
    z-index: 2;
    top: 85%;
    right: 11%;
}

.bas i{
    font-size: 30px;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    padding: 12px 12px;
}

.bas i:hover{
    background-color: black;
    color: #daa755;
    transition: all .42s ease;
}

/*pou 2e pati a
li jere pati ki gen aquisition yo*/

.text h2{
    color: black;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}
.text h2 span{
    color: #daa755;
}
/*toujou pati 2 a ki fe yo paret
nan grid lan, sa vle di youn a kote lot 
epi yo ranje otomatik, si te glis kontni yo tap toujou
paret depan de tay ekraN AN*/
.aquisition{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.row{
    position: relative;
}
.row img{
    width: 90%;
    height: auto;
    transition: all .40s ease;
}
.row img:hover{
    transform: scale(0.9);
}
.aquisition .aquis-text{
    position: absolute;
    top: 7px;
    left: 12px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #000000;
    padding: 3px 10px;
    border-radius: 3px;
    opacity: 50%;
}
.favoris{
    font-size: 20px;
}
.favoris:hover{
    color:red;
}

/*pou 3e pati a*/
.acceuil3{
    background-color: #f3f4f6;
}
.acceuil3 .agent{
    color: #000000;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 5px;
}
.acceuil3 .agent span{
    color: #daa755;
}

.equipe-texte{
    display:flex;
    flex-direction:row ;
    width: 100%;
    align-items: flex-start;
    margin: auto;
    font-size: 20px;
}
.equipe-text{
    margin-top: 50px;
}
.equipe-texte h3{
    font-size: 30px;
    margin-bottom: 15px;
}
.equipe{
    padding-right: 80px;
}

/*pou 4e pati a KI GEN avis yo, kom se nou 3 ki nan groupe lan mmete 3
konsa nou ka mete plis si nou vle ka plis tou*/
.acceuil4{
    padding: 100px 30px;
    text-align: center;
}

.acceuil4 h2{
    font-size: 2em;
    color: #daa755;
    margin-bottom: 40px;
    letter-spacing: 1px;
}
.client {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}
.avis{
    background-color: #f9f9f9;
    padding: 10px 10px;
    border-radius: 10px 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    font-style: italic;
    position: relative;
    display: grid;
    
}
.avis h4{
    margin-top: 15px;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    color: #555;
}


/*pou 5e pati a ki gen logo ak info yo
m itilize info pam paskem pat konn sa poum mete*/
.infos .logo span{
    color: #daa755;
}
.infos .logo{
    color: black;
    font-family: indie flower;
    font-size: 40px;
    width: 140px;
    height: auto;
}
.infos{
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
}
.info2, .info3, .info4{
    margin-top: 3rem;
}
.infos h4{
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.infos p{
    color:#555;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s ease;;
}
.infos p:hover{
    color: #daa755;
    transform: scale(1.1);
}
.social i{
    color:#000000;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s ease;
}
.social i:hover{
    color: #daa755;
    transform: scale(1.3);
}

.en-haut{
    position: relative;
    top: 75%;
    bottom: 0%;
    left: 100%

}
.haut i{
    font-size: 30px;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    padding: 12px 12px;
}

.haut i:hover{
    background-color: black;
    color: #daa755;
    transition: all .42s ease;
}
/* Sa se denye pati an ki anba net sa ki gen copyright lan*/
footer{
    background-color: #f3f4f6;
    padding: 20px;
    text-align: center;
}
footer:hover{
    color: #daa755;
}

/*tout kote ki gen :hover yo se pou le souri an pase li, gon bagay ki fet
tankou le yo chanje koule
tout sa ki komanse pa . yo se class
sa ki pa gen . yo se balise
icon yo se sou boxicon m pran yo, m mete lien an nan acceuil.html
epi m itilize code icon mwen vle an, si pagen internet sou pc yap monte an yo pap monte 
ni police yo tou
transform: scale(1.3) fe eleman an bouje lew pase souri sou li
transition: all .42s ease; fe koule yo pa chanje brit sou kou
*/